$tableColor: rgba(46, 46, 46, 0.5);

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Heiti SC", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, SimSun, sans-serif;
    margin: 0;
    background: #000;
}

.list {
    width: 100%;
}

.info {
    color: #FFF;
    width: 100%;
    table {
        display: block;
        border-radius: 6px;
        background-color: $tableColor;
        th {
            text-align: left;
        }
    }
    .realtime {
        position: absolute;
        padding: 0 10px;
        bottom: 20px;
        left: 20px;
        height: 240px;
        table-layout: fixed;
        .first-head th {
            text-align: center;
            font-size: 18px;
        }
        td {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
        }
    }
    .attackorigin,
    .attacktargets {
        position: absolute;
        bottom: 300px;
        min-width: 235px;
        th:first-child {
            min-width: 40px;
        }
        th:first-child,
        td:first-child {
            text-align: right;
        }
        th:nth-child(2),
        td:nth-child(2) {
            text-indent: 5px;
        }
    }
    .attacktargets { right: 0; }
    .attackorigin { left: 0; }
}
